@font-face {
  font-family: "TBCX";
  src: url("./assets/fonts/TBCXRegular.dee156cc.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TBCX";
  src: url("./assets/fonts/TBCXMedium.8ef1248a.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TBCX";
  src: url("./assets/fonts/TBCXBold.6db5e61d.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue_button:hover {
  background-color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  transition: color 4s linear, fill 4s linear;
}

.subscribe p {
  color: #182cc0;
  transition: color 0.5s linear;
}

.subscribe svg path {
  fill: #182cc0;
  transition: fill 0.5s linear;
}

.subscribe:hover p {
  color: #4351e7;
}

.subscribe:hover svg path {
  fill: #4351e7;
}
.headerlogo-tablet {
  display: none;
}
.buy_divs {
  display: none;
}
img {
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

h3 {
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.no-select {
  user-select: none;
}
.section_home_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.displayDiv {
  min-height: 100vh;
  overflow-y: unset;
}
.displayDiv.open {
  height: 100vh;
  overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  color: #555f62;
  background-color: #f9fafa;
  font-family: "TBCX", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  padding-top: 80px;
  position: relative;
  z-index: 0;
}

h2 {
  color: #141719;
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  transition: background-color 0.5s ease;
}
.header.bg-changed {
  background-color: #f9fafa;
}
.header_container {
  z-index: 103;
  height: 100%;
  column-gap: 24px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.headerlogo-tablet {
  margin-right: 0px;
}
.header_buttons {
  align-items: center;
  margin-left: auto;
  display: flex;
  column-gap: 8px;
}

.header_search_icon {
  padding: 8px;
  height: 40px;
}

.header_text {
  font-size: 12px;
  text-transform: uppercase;
  color: #182cc0;
  margin-top: 2px;
  font-weight: 700;
  line-height: 1.4;
}

#header_menu_button {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 36px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  cursor: pointer;
  padding: 8px;
}

#header_menu_button span {
  display: block;
  background: #555f62;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#header_menu_button span:nth-child(1) {
  width: 11px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#header_menu_button span:nth-child(2) {
  width: 20px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#header_menu_button span:nth-child(3) {
  width: 15px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#header_menu_button.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  height: 4px;
  top: -6px;
  left: 1px;
}

#header_menu_button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#header_menu_button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  height: 4px;
  top: 8px;
  left: 0px;
}

#menu {
  opacity: 0;
  background-color: #f9fafa;
  position: absolute;
  top: 80px;
  width: 100%;
  transition: opacity 0.6s linear, z-index 0.6s linear;
  z-index: -1;
}
#menu:nth-child(1) {
  transition: opacity 0.6s linear, z-index 0.6s linear;
  background-color: #fff;
}

#menu.open {
  opacity: 1;
  z-index: 50;
}

.mobile_menu_dropdown_div {
  padding: 32px 0px;
  width: 100%;
  border-bottom: 1px solid #d1d5d6;
  position: relative;
}
.header_desktop_text {
  display: none;
}

.mobile_menu_dropdown_div_text {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  color: #141719;
  align-items: center;
  width: 100%;
  padding: 0px 15px;
}

.mobile_menu_dropdown_div_text h1 {
  font-size: 18px;
  font-weight: bold;
  color: #141719;
}

.mobile_menu_dropdown_div_list_1 {
  overflow: hidden;
  height: 0;
  transition-property: height;
  transition-duration: 1000ms;
}

.mobile_menu_dropdown_div_list_2 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px 15px 0px 15px;
}

.mobile_menu_dropdown_div_list_1.open {
  height: 134px;
  overflow: hidden;
}
.mobile_menu_list {
  font-size: 16px;
  font-weight: 400;
}

.mobile_dropdown_arrow {
  transition: transform 0.6s;
}
.active_mobile_drop_arrow.mobile_dropdown_arrow {
  transform: rotate(180deg);
}

.header_menu-mobile_contacts {
  padding: 32px 15px;
}

.header_menu-mobile_contacts h3 {
  font-size: 16px;
  color: #141719;
  font: bold;
}
.header_menu_contact_list {
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
}
.header_menu_contact_list p {
  font-weight: 500;
}

.header_menu_social {
  display: flex;
  column-gap: 15px;
  margin-top: 24px;
}

.header_menu_social > * {
  background-color: #f9fafa;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.header_footer {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.linkdiv {
  padding: 16px 15px;
  display: flex;
  column-gap: 4px;
}

.linkdiv p {
  color: #141719;
  font-weight: 500;
  font-size: 12px;
}

.first_section {
  min-height: 360px;
  background-image: url("assets/images/library.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 172px 15px 20px 36px;
  color: white;
  position: relative;
  margin-top: 32px;
  margin-bottom: 36px;
}

.first_section h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.footer_footer_text {
  column-gap: 30px;
  display: flex;
}
.blue_button {
  background: #182cc0;
  column-gap: 6px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  display: flex;
  transition: 0.4s linear;
}

.blue_button:hover {
  background: #007aff;
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.firs_section_text_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 4;
}

.logo_text_footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.text_section {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.text_section p {
  font-size: 24px;
  color: #141719;
  font-weight: 500;
  line-height: 1.5;
}

.first_scroll_section {
  padding-top: 36px;
  padding-bottom: 36px;
}

.carusel_div {
  margin-top: 20px;
  position: relative;
  overflow-x: scroll;
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto;
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
}

.each_scroll_div {
  width: 280px;
  height: 232px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  padding: 24px;
  overflow: hidden;
}

.each_scroll_div.first {
  background-image: url("assets/images/mobile/slider-images-digital.png");
}
.each_scroll_div.second {
  background-image: url("assets/images/mobile/slider-images-360.png");
}
.each_scroll_div.third {
  background-image: url("assets/images/mobile/slider-images-premium.png");
}

.first_scroll_section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  padding-left: 15px;
  color: #141719;
  font-weight: 700;
}

.grid_card_content {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  row-gap: 20px;
  height: -webkit-fill-available;
  position: relative;
  z-index: 5;
  flex-direction: column;
}

.each_scroll_div h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.grid_card_content p {
  margin-top: 2px;
  text-decoration: underline;
  color: white;
}

.section_numbers {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
}

.section_numbers div {
  padding: 24px;
  font-size: 14px;
  border-radius: 8px;
  grid-row-gap: 16px;
  background-color: #fff;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  font-weight: 500;
  display: flex;
}

.section_numbers h1 {
  font-size: 36px;
  color: #141719;
  font-weight: 700;
  line-height: 1.3;
}

.section_offers {
  padding-top: 36px;
  padding-bottom: 36px;
}

.offers_text {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offers_text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.offers_carusel_div {
  margin-top: 20px;
  position: relative;
  overflow-x: scroll;
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto;
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.little_image_div {
  position: absolute;
  width: 78px;
  height: 56px;
  right: 0px;
  top: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
  border-right: 1px solid #e1e4e5;
}
.little_image_div img {
  max-width: 100%;
  max-height: 100%;
}

.slider-container {
  width: 100%;
}

.slider {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  cursor: grab;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.slider:active {
  cursor: grabbing;
}

.slide {
  width: auto;
  height: auto;
  background-color: white;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  padding-bottom: 30px;
  position: relative;
}

.indicator-container {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: #d1d5d6;
  border-radius: 1px;
}

.indicator {
  height: 100%;
  width: 137px;
  background: #182cc0;
  border-radius: 1px;
  position: relative;
  left: 0;
}

.slider_content_div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider_content_div P {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #6f787b;
  margin-bottom: 4px;
}
.slider_content_div P {
  margin-bottom: 12px;
}

.slide img {
  border-radius: 6px 6px 0px 0px;
}

.offers_swiper_slider-container {
  width: 100%;
}

.offers_swiper_slider {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  cursor: grab;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.offers_swiper_slider:active {
  cursor: grabbing;
}

.offers_swiper_slide {
  width: auto;
  height: auto;
  background-color: white;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  position: relative;
}

.offers_swiper_indicator-container {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: gray;
}

.offers_swiper_indicator {
  height: 100%;
  width: 20%;
  background-color: blue;
  position: relative;
  left: 0;
}

.offers_swiper_slider_content_div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.offers_swiper_slide h3 {
  font-size: 14px;
}

.offers_swiper_slider_content_div P {
  text-transform: uppercase;
  color: #6f787b;
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0px;
  font-size: 12px;
}

.offers_swiper_slide img {
  border-radius: 6px 6px 0px 0px;
  width: 350px;
  height: 208px;
}
.section_awards_slider:active {
  cursor: grabbing;
}

.section_awards_slider_container {
  width: 100%;
}
.section_awards_slide h3 {
  font-size: 14px;
  line-height: 30px;
}
.section_awards_slider {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  cursor: grab;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.section_awards-slider:active {
  cursor: grabbing;
}

.section_awards_slide {
  min-width: 275px;
  height: auto;
  background-color: white;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.section_awards-indicator_container {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: gray;
}

.section_awards_indicator {
  height: 100%;
  width: 20%;
  background-color: blue;
  position: relative;
  left: 0;
}

.section_awards_slider_content_div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section_awards_slide p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #6f787b;
  margin-bottom: 4px;
}

.section_awards_slider_content_div p {
  margin-bottom: 12px;
}

.section_awards_slide img {
  border-radius: 6px 6px 0px 0px;
  width: 118px;
  height: 52px;
}

.section_awards_indicator-container {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: gray;
}

.section_awards_indicator {
  height: 100%;
  width: 20%;
  background-color: blue;
  position: relative;
  left: 0;
}

.get_app_section {
  margin-top: 36px;
  margin-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
}

.get_app_section img {
  margin-top: 24px;
  width: 100%;
}

@media (min-width: 403px) {
  .get_app_section img {
    margin-top: 24px;
    width: 370px;
  }
}

.get_app_section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 24px;
}

.download_button {
  margin-top: 24px;
  height: 51.55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafa;
  border: 1px solid #182cc0;
  border-radius: 4px;
  column-gap: 4px;
}

.download_button p {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  margin-top: 0px;
  color: #182cc0;
}

.section_home-hero {
  margin-top: 32px;
  margin-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 172px 15px 20px;
  background-image: url("assets/images/mobile/private-banker-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section_home-hero h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
.section_home-hero p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.blue_button.second {
  height: 50px;
}
.second_blue_button_text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}

.section_awards-swiper {
  padding-top: 36px;
  padding-bottom: 36px;
}

#footer {
  padding-top: 36px;
}

.footer_top {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d5d6;
}

.footer_dropdown_div {
  padding: 32px 0px;
  width: 100%;
  border-bottom: 1px solid #d1d5d6;
  position: relative;
}

.footer_dropdown_div_text {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  color: #141719;
  align-items: center;
  width: 100%;
  padding: 0px 15px;
}

.footer_dropdown_div_text h1 {
  font-size: 18px;
  font-weight: bold;
  color: #141719;
}

.footer_dropdown_div_list_1 {
  overflow: hidden;
  height: 0;
  transition-property: height;
  transition-duration: 1000ms;
}

.footer_dropdown_div_list_2 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px 15px 0px 15px;
}

.footer_dropdown_div_list_1.open {
  height: 88px;
  overflow: hidden;
}
.footer_list {
  font-size: 16px;
  font-weight: 400;
}

.footer_dropdown_arrow {
  transition: transform 0.6s;
}
.active_footer_drop_arrow.footer_dropdown_arrow {
  transform: rotate(180deg);
}

.footer_mobile_contacts {
  padding: 32px 15px;
}

.footer_mobile_contacts h3 {
  font-size: 16px;
  color: #141719;
  font: bold;
}
.footer_contact_list {
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
}
.footer_contact_list p {
  font-weight: 500;
}

.footer_social {
  display: flex;
  column-gap: 15px;
  margin-top: 24px;
}

.footer_social > * {
  background-color: #f9fafa;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.footer_footer {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer_top div {
  height: 40px;
  background-color: #f9fafa;
  padding-left: 12px;
  padding-right: 12px;
}

.change_language {
  display: flex;
  align-items: center;
  gap: 2px;
}

.change_language p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
}

.footer_footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.footer_white_div {
  background-color: white;
}
.indicator_div {
  padding: 0px 15px;
}

.offers_swiper_indicator_div {
  padding-left: 15px;
  padding-right: 15px;
}
.offers_swiper_indicator-container {
  background-color: #d1d5d6;
}
.offers_swiper_indicator {
  background: #182cc0;
  border-radius: 1px;
}

.offers_swiper_indicator_div {
  padding-left: 15px;
  padding-right: 15px;
}
.offers_swiper_indicator-container {
  background-color: #d1d5d6;
}
.offers_swiper_indicator {
  background: #182cc0;
  border-radius: 1px;
}
.section_awards_indicator-container-div {
  padding: 0 15px;
}
.section_awards_indicator-container-div {
  padding-left: 15px;
  padding-right: 15px;
}
.section_awards_indicator-container {
  background-color: #d1d5d6;
}
.offers_swiper_indicator {
  background: #182cc0;
  border-radius: 1px;
}
/* media 479 */
.tablet,
.tabletchange {
  display: none;
}

@media (min-width: 479px) {
  h1,
  h2,
  h3 {
    color: #141719;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
  }

  .footer_footer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .header {
    padding-left: 45px;
    padding-right: 45px;
  }
  .header_buttons {
    column-gap: 16px;
  }
  .header_text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
  }
  .linkdiv img {
    display: none;
  }
  .linkdiv {
    padding-left: 45px;
  }
  .first_section h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  .first_section {
    padding: 240px 45px 36px;
  }
  .blue_button {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    height: 49.45px;
  }
  .text_section p {
    font-size: 28px;
  }
  .text_section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .first_scroll_section p {
    font-size: 24px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .carusel_div {
    padding-left: 45px;
    padding-right: 45px;
  }
  .grid_card_content p {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding: 0;
  }
  .section_numbers {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .section_numbers div {
    padding: 40px 48px;
  }
  .section_numbers h1 {
    color: #141719;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
  }
  .section_numbers p {
    font-size: 16px;
    font-weight: 500;
  }
  .offers_text {
    padding-left: 45px;
    padding-right: 45px;
  }
  .slider {
    margin-top: 28px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .indicator_div {
    padding-left: 45px;
    padding-right: 45px;
  }
  .get_app_section {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .get_app_section img {
    margin-top: 28px;
  }
  .get_app_section p {
    margin-top: 28px;
  }
  .download_button p {
    margin-top: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
  }
  .offers_swiper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .offers_swiper_slider {
    padding-left: 45px;
    padding-right: 45px;
  }
  .slideImg {
    width: 328px;
    height: 139px;
    object-fit: cover;
  }
  .slider_content_div h2 {
    font-size: 14px;
  }
  .offers_swiper_slide img {
    border-radius: 6px 6px 0px 0px;
    width: 326px;
    height: 139px;
    object-fit: cover;
  }
  .offers_swiper_indicator_div {
    padding-left: 45px;
    padding-right: 45px;
  }
  .offers_swiper_indicator-container {
    background-color: #d1d5d6;
  }
  .offers_swiper_indicator {
    background: #182cc0;
    border-radius: 1px;
  }
  .section_home-hero {
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 240px 45px 36px;
  }
  .section_home-hero h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  .section_awards-swiper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section_awards_slider {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 28px;
  }
  .section_awards_indicator-container-div {
    padding-left: 45px;
    padding-right: 45px;
  }
  .section_awards_slide {
    padding: 28px;
  }
  .footer_top {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .footer_dropdown_div {
    padding: 36px 45px;
  }
  .footer_dropdown_div_text {
    padding: 0;
  }
  .footer_dropdown_div_text h1 {
    font-size: 24px;
    line-height: 1.5;
  }
  .footer_dropdown_div_list_2 {
    padding: 36px 0px 0px 0px;
  }
  .footer_dropdown_div_list_1.open {
    height: 114px;
  }
  .footer_mobile_contacts {
    padding: 56px 45px;
  }
  .footer_mobile_contacts h3 {
    font-size: 24px;
    color: #141719;
  }
  .linkdiv {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.tablet_get-app-image,
.desktop_menu {
  display: none;
}

.section_awards-swiper {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* tablet */
@media (min-width: 768px) {
  .headerlogo-mobile,
  .mobile_get-app-image,
  .mobile {
    display: none;
  }
  .headerlogo-tablet,
  .tablet_get-app-image,
  .tablet {
    display: block;
  }

  .first_section {
    margin-bottom: 50px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 6px;
    padding: 240px 45px 36px;
    overflow: hidden;
  }
  .firs_section_text_div {
    max-width: 450px;
  }
  .blue_button {
    max-width: 152px;
  }
  .firs_section_text_div {
    gap: 24px;
  }
  .text_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text_section p {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
  }
  .carusel_div {
    grid-template-columns: auto auto;
    gap: 30px;
  }
  .each_scroll_div {
    width: 100%;
  }
  .each_scroll_div.second {
    height: auto;
    width: 100%;
    grid-row: 1/3;
    grid-column: 2;
    display: grid;
  }
  .grid_card_content {
    align-self: self-end;
  }
  .each_scroll_div h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  .section_numbers {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section_offers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slider {
    margin-bottom: 36px;
  }
  .slideImg {
    height: 201px;
  }
  .slider_content_div {
    padding: 28px;
  }
  .slider_content_div h2 {
    font-size: 14px;
  }
  .slide {
    padding-bottom: 20px;
  }
  .get_app_section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
  }
  .get_app_section {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
  .get_app_section > :nth-child(1) {
    width: 55%;
  }

  .tablet_get-app-image {
    position: relative;
  }
  .tablet_get-app-image img {
    width: 230px;
    height: 270px;
    position: absolute;
    right: 0;
    bottom: -32px;
  }
  .download_button {
    width: 160px;
  }
  .offers_swiper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .offers_swiper_slide img {
    width: 356px;
    height: 218px;
    object-fit: cover;
  }
  .offers_swiper_slider_content_div {
    padding: 28px;
  }
  .indicator {
    width: 300px;
  }
  .offers_swiper_indicator {
    width: 300px;
  }
  .section_home-hero {
    margin-bottom: 50px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 6px;
  }
  #second_blue_button_text {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
  }
  .section_home_content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .section_awards-swiper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section_awards_slider {
    margin-top: 36px;
  }
  .section_awards_slide {
    min-width: 362.5px;
  }
  .section_awards_indicator-container {
    margin-top: 38px;
  }
  .footer_top {
    border: 0;
  }
  .footer_dropdown_arrow {
    display: none;
  }
  .footer_dropdown_div {
    padding: 0px;
    border: 0px;
  }
  .footer_dropdown_div_text {
    display: block;
  }
  .footer_mobile_contacts {
    padding: 0;
  }
  .footer_dropdown_div_text h1 {
    font-size: 14px;
    line-height: 1.5;
  }
  .footer_white_div {
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    border: 0;
    padding-bottom: 45px;
    border-bottom: 1px solid #d1d5d6;
  }
  .footer_mobile_contacts h3 {
    font-size: 14px;
    color: #141719;
  }
  .footer_list {
    font-size: 14px;
  }
  .footer_dropdown_div_list_1 {
    height: 114px;
  }
  .footer_social {
    margin-top: 16px;
  }
  .footer_footer_text.tablet {
    display: flex;
    gap: 12px;
  }
  .footer_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo_text_footer {
    margin: 0px;
  }
}

@media (min-width: 991px) {
  #header_menu_button {
    display: none;
  }
  .download_button {
    display: none;
  }
  .header_desktop_text {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #222;
  }
  .first_section {
    padding: 80px;
  }
  .text_section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .text_section p {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
  }
  .each_scroll_div {
    min-width: 433px;
    min-height: 256px;
    padding: 40px;
  }
  .first_scroll_section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .carusel_div {
    margin-top: 36px;
  }
  .section_numbers {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .section_numbers {
    flex-direction: row;
    column-gap: 30px;
  }
  .section_offers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .slider {
    margin-top: 36px;
  }
  .slideImg {
    min-height: 270px;
    min-width: 441px;
  }

  .buy_divs {
    display: flex;
    max-width: 284px;
    justify-content: space-between;
    margin-top: 24px;
  }
  .buy_divs div {
    width: 134px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
  }
  .appstore img {
    margin: 0px;
  }
  .tablet_get-app-image {
    height: 336px;
  }
  .tablet_get-app-image img {
    height: 336px;
    width: 270px;
  }
  .tablet_content_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .offers_swiper_slide img {
    width: 452px;
    height: 277px;
    object-fit: cover;
  }
  .offers_swiper_indicator-container {
    margin-top: 38px;
  }
  .section_home-hero {
    padding: 80px;
  }
  .section_awards-swiper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section_awards_slide {
    min-width: 441px;
    min-height: 239px;
  }
  #footer {
    padding-top: 60px;
  }
  .footer_top {
    padding-top: 45px;
    padding-bottom: 50px;
  }
  .footer_footer {
    background-color: white;
  }
  .footer_mobile_contacts {
    margin-right: 50px;
  }
  .desktop_menu {
    display: block;
    min-height: 205px;
    background-color: white;
    position: fixed;
    z-index: -1;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    opacity: 0;
    transition: opacity 1s, z-index 0s 1s;
  }

  .desktop_menu_container {
    padding: 0 47px;
  }

  .header_desktop_dropdown {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .dropdown_menu {
    position: absolute;
    bottom: -183px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s, z-index 0s 0.5s;
  }

  .dropdown_menu p {
    font-size: 16px;
    font-weight: 400;
  }

  .second_drop {
    bottom: -135px;
  }

  .third_drop {
    bottom: -199px;
  }

  .digital_bank {
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #182cc0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
  }
  .header_desktop_dropdown {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .header_desktop_dropdown p {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .desktop_menu_indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #182cc0;
    transition: width 0.5s ease, left 0.5s ease;
  }

  .header_desktop_dropdown.active .desktop_menu_indicator {
    left: 0;
    width: 100%;
  }

  .desktop_menu {
    display: block;
    min-height: 205px;
    background-color: white;
    position: fixed;
    z-index: -1;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    opacity: 0;
    transition: opacity 1s, z-index 0s 1s;
  }

  .desktop_menu_container {
    padding: 0 47px;
  }

  .dropdown_menu {
    position: absolute;
    bottom: -183px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s, z-index 0s 0.5s;
  }

  .dropdown_menu p {
    font-size: 16px;
    font-weight: 400;
  }

  .second_drop {
    bottom: -135px;
  }

  .third_drop {
    bottom: -199px;
  }
  .tabletchange {
    display: flex;
  }
}

@media (min-width: 1100px) {
  .header {
    display: grid;
    justify-content: center;
  }
  .header_container {
    max-width: 1100px;
  }
  .displayDiv {
    max-width: 1100px;
  }
  .desktop_menu_container {
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
  .headerlogo-tablet {
    margin-right: 50px;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
