* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  color: #555f62;
  background-color: #f9fafa;
  font-family: "TBCX", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}
.header_container {
  z-index: 103;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  column-gap: 24px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header_buttons {
  align-items: center;
  margin-left: auto;
  display: flex;
  column-gap: 8px;
}

.header_search_icon {
  padding: 8px;
  height: 40px;
}

.header_text {
  font-size: 12px;
  text-transform: uppercase;
  color: #182cc0;
  margin-top: 2px;
  font-weight: 700;
  line-height: 1.4;
}

#header_menu_button {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding-right: 8px;
}

#header_menu_button span {
  display: block;
  background: #555f62;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#header_menu_button span:nth-child(1) {
  width: 11px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#header_menu_button span:nth-child(2) {
  width: 20px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#header_menu_button span:nth-child(3) {
  width: 15px;
  height: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#header_menu_button.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  height: 2px;
  top: -6px;
  left: 1px;
}

#header_menu_button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#header_menu_button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  height: 2px;
  top: 8px;
  left: 0px;
}
